/* Шапка */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font: inherit;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

.header_address-list {
  list-style: none;
}

.header_address-list_no-underline {
  text-decoration: none;
}

/* Обложка страницы (входная секция) */

.cover {
  min-height: 757px;
  background-image: url("/images/cover.jpg");
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover,
.card {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title,
.cover__description,
.card__text,
.card__title {
  position: relative;
  z-index: 2;
}

.cover__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  padding-top: 165px;
  padding-left: 50px;
}

.aligned-text_center {
  padding-top: 20px;
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 106px;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: 400;
  word-spacing: 20px;
}

.letter-spacing-extended {
  letter-spacing: 1.1em;
}

.bet-button {
  box-sizing: inherit;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 0;
  color: inherit;
  font-weight: 500;
  text-transform: inherit;
  background-color: transparent;
}

/* Секция с карточками */

.main {
  display: flex;
  flex-direction: column;
}

.lots {
  margin: auto;
  margin-top: 180px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  text-decoration: none;
}

.card__title,
.card__text {
  line-height: 120%;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
}

.card-link,
.card {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

/* Секция "Об аукционе" */

.about {
  display: grid;
  grid-template-columns: 334px auto;
  justify-items: center;
  gap: 50px;
  margin: auto;
  margin-top: 120px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__title {
  margin-top: 133px;
  margin-bottom: 100px;
  padding-top: 3px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/* Подвал */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  padding: 1px 50px 0;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-underline-position: under;
}

.footer__address {
  justify-self: start;
}

.address-link,
.footer__menu-link {
  text-decoration-thickness: 1px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}
